@{
    ViewBag.Title = "SearchCustomer";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<script>
    $(document).ready(function () {
        $('#customer').css({
            "color": "#6FE2B4"
        });
        $('#customericon').css({
            "background-color": "#6FE2B4",
            "color": "#FFFFFF"
        });
    });
</script>
<div class="header">

</div>