@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<script>
    $(document).ready(function () {
        $('#homeicon').css({
            "background-color": "#6FE2B4",
            "color": "#FFFFFF"
        });
    });
</script>
<style>
    #intableicon {
        font-size: 400%;
        color: #666666;
    }
    td {
        font-size: 30px;
        padding-left: 80px;
        padding-right: 80px;
    }
    .dropdown button {
        font-size: 25px;
        text-decoration: none;
        color: #316D97;
        background-color: #F6FDF9;
        border: 0px solid #CCCCCC;
    }
    .dropdown ul li {
        font-size: 20px;
        text-decoration: none;
    }
</style>
<div class="body" style="background-color: #F6FDF9;">
    <br><br>
    <table align="center" style="text-align: center;">
        <tr>
            <td><a href="#"><i class="material-icons" id="intableicon">description</i></a></td>
            <td><a href="#"><i class="material-icons" id="intableicon">monetization_on</i></a></td>
            <td><a href="#"><i class="material-icons" id="intableicon">receipt</i></a></td>
        </tr>
        <tr>
            <td>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">
                        + เพิ่มใบเสนอราคา
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> ระยะสั้น </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> ระยะยาว </a></li>
                    </ul>
                </div>
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button">
                        + ออกใบวางบิล
                    </button>
                </div>
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">
                        + เพิ่มใบเสนอราคา
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> ใบขอสั่งซื้อรถยนต์ </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> ใบขอสั่งซื้ออื่นๆ </a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>

        
        <tr>
            <td><a href="#"><i class="material-icons" id="intableicon">account_circle</i></a></td>
            <td><a href="#"><i class="material-icons" id="intableicon">contact_phone    </i></a></td>
            <td><a href="#"><i class="material-icons" id="intableicon">store</i></a></td>
        </tr>
        <tr>
            <td>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">
                        + เพิ่มบัญชีผู้ใช้งาน
                    </button>
                </div>
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">
                        + เพิ่มชื่อลูกค้า
                    </button>
                </div>
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">
                        + เพิ่มสินค้า
                    </button>
                </div>
            </td>
        </tr>
    </table>
    <br><br><br><br><br><br><br>
</div>