@{
    ViewBag.Title = "Welcome home bud !";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="body" style="background-color: #F6FDF9;">
    <div class="head" style="background-color: #6FE2B4;">
    <p style="font-size: 28px;">&nbsp;&nbsp;<i class="material-icons">insert_drive_file</i>&nbsp;สัญญาการเช่า</p>
    </div>
    <h1 style="text-align: center;">BODY HERE</h1>
    <p style="text-align: center;">something here too</p>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
    <p>Date: <input type="text" id="datepicker"></p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>