@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    .vertical-menu {
        font-family: 'Thai Sans Lite';
        font-size: 22px;
        width: 20%;
        padding: 25px;
    }

        .vertical-menu a {
            border: 1px solid #D9D9D9;
            text-align: left;
            background-color: #F6FDF9;
            color: #666666;
            display: block;
            text-decoration: none;
        }
        .vertical-menu i {
            border: 1px solid #D9D9D9;
            text-align: center;
            background-color: #CCCCCC;
            color: #666666;
            padding: 10px;
            text-decoration: none;
        }
    </style >

<div class="jumbotron">
    <h2>Header here</h2>
</div>
<div class="vertical-menu">
    <a href="#"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;หน้าแรก</a>
    <a href="#"><i class="glyphicon glyphicon-star"></i>&nbsp;&nbsp;&nbsp;&nbsp;ภาพรวม</a>
    <a href="#">ขาย</a>
    <a href="#">ซื้อ</a>
    <a href="#">บัญชี</a>
    <a href="#">สินค้า</a>
    <a href="#">สมุดรายชื่อ</a>
    <a href="#">บัญชีผู้ใช้งาน</a>
</div>
<br>
<div class="jumbotron">
    <p>Footer here</p>
</div>