<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <p style="color:white;">Logo</p>
        </div>
    </div>
</div>