<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/aa4112e949.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>@ViewBag.Title</title>
    <script>
        var i = 0;
        $(document).ready(function () {
            $("#head").click(function () {
                if (i == 0) {
                    $("#body").css({ "max-height": "100%" });
                    i++;
                }
                else $("#body").slideToggle();
            });
        });
    </script>
    <style>
        header {
            font-family: 'Thai Sans Lite';
            padding: 10px;
            color: white;
            background-color: #316D97;
            clear: left;
            width: 100%;
            display: block;
            font-size: 26px;
            
        }
        footer {
            font-family: 'Thai Sans Lite';
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1rem;
            background-color: #316D97;
            text-align: center;
        }
        body {
            background-color: #FBFBFB;
            width: 100%;
            position: relative;
        }
        .body {
            width: 76%;
        }
        .container {
            margin-left: 21%;
            background-color: #FBFBFB;
            font-family: 'Thai Sans Lite';
            width: 100%;
        }
        .vertical-menu {
            float: left;
            font-family: 'Thai Sans Lite';
            font-size: 22px;
            width: 20%;
            max-width: 20%;
            margin: 0;
            padding: 1em;
        }
        .mainmenu, .submenu {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .vertical-menu a {
            width: 100%;
            border: 1px solid #D9D9D9;
            text-align: left;
            background-color: #F6FDF9;
            color: #666666;
            display: block;
            text-decoration: none;
        }
            .vertical-menu a:hover {
                background-color: #CCCCCC;
                color: #FFFFFF;
            }
        .vertical-menu i {
            width: 100%;
            border: 1px solid #D9D9D9;
            text-align: center;
            background-color: #CCCCCC;
            color: #666666;
            padding: 10px;
            text-decoration: none;
            max-width: 20%;
        }
            .vertical-menu i:hover {
                background-color: #6FE2B4;
                color: #FFFFFF;
            }
        .submenu {
            overflow: hidden;
            max-height: 0;
        }
            .submenu a {
                font-size: 20px;
                background-color: #F6FDF9;
            }
            .submenu i {
                background-color: #CCCCCC;
                color: #CCCCCC;
            }
                .submenu i:hover {
                    background-color: #6FE2B4;
                    color: #6FE2B4;
                }
    </style>

</head>
<body>
    <header>&nbsp;&nbsp;<img src="~/Images/carq.png" style="max-height: 50px;max-width: 50px;">&nbsp;CAR RENTAL</header>

    <div class="column vertical-menu">
        <ul class="mainmenu">

            <li><a href="#"><i class="material-icons">home</i>&nbsp;&nbsp;&nbsp;&nbsp;หน้าแรก</a></li>

            <li class="parent">
                <a id="head"><i class="material-icons">grade</i>&nbsp;&nbsp;&nbsp;&nbsp;ภาพรวม</a>
                <ul id="body" class="submenu">
                    <li>
                        <a href="#"><i class="material-icons">grade</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แดชบอร์ด</a>
                    </li>
                    <li>
                        <a href="#"><i class="material-icons">grade</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;โปรโมชัน</a>
                    </li>
                </ul>
            </li>

            <li><a href="#"><i class="material-icons">monetization_on</i>&nbsp;&nbsp;&nbsp;&nbsp;ขาย</a></li>

            <li><a href="#"><i class="material-icons">shopping_cart</i>&nbsp;&nbsp;&nbsp;&nbsp;ซื้อ</a></li>

            <li><a href="#"><i class="material-icons">credit_card</i>&nbsp;&nbsp;&nbsp;&nbsp;บัญชี</a></li>

            <li><a href="#"><i class="material-icons">store</i>&nbsp;&nbsp;&nbsp;&nbsp;สินค้า</a></li>

            <li><a href="#"><i class="material-icons">contact_phone</i>&nbsp;&nbsp;&nbsp;&nbsp;สมุดรายชื่อ</a></li>

            <li><a href="#"><i class="material-icons">account_circle</i>&nbsp;&nbsp;&nbsp;&nbsp;บัญชีผู้ใช้งาน</a></li>

        </ul>
    </div>
    <div class="container">

        @RenderBody()
    </div>
    <footer>FOOTER HERE</footer>
</body>
</html>
