<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <style>
            
        </style>
    </head>
    <body>
        <div style="background-color: #6FE2B4; color: #666666; padding: 20px; font-family:'Thai Sans Lite'; font-size:30px; ">
            <img src="~/Images/file.png" alt="file" style="width: 40px; height: 40px; float: left; ">
            &nbsp;@ViewBag.Message
            <img src="~/Images/cancel.png" alt="cancel" style="width:50px;height:50px; float:right;">
        </div>
        <div>
            @RenderBody()
        </div>
        <div style="background-color: #6FE2B4; color: #666666; padding: 20px; font-family: 'Thai Sans Lite'; font-size: 18px; color:white; text-align:center; ">

            <input type="button" class="form-control" value="ยกเลิก" style="width: 70px; color: white; background-color: #F86065; float: left; ">
            &nbsp;
            
            <input type="button" class="form-control" value="บันทึก" style="width: 70px; color: white; background-color: #6889BB; float: right;">
            &nbsp;
            
            <img src="~/Images/printer-button.png" alt="file" style="width: 30px; height: 30px;">&nbsp;พิมพ์ 
            <img src="~/Images/download-button.png" alt="file" style="width: 30px; height: 30px;">&nbsp;ดาวน์โหลด
            
        </div>
        
    </body>
    </html>
