<style>
    .vertical-menu {
        overflow: hidden;
        background-color: #333;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
    }

        .vertical-menu a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
</style>
<div class="vertical-menu">
    <a href="#">หน้าแรก</a>
    <a href="#">ภาพรวม</a>
    <a href="#">ขาย</a>
    <a href="#">ซื้อ</a>
    <a href="#">บัญชี</a>
    <a href="#">สินค้า</a>
    <a href="#">สมุดรายชื่อ</a>
    <a href="#">บัญชีผู้ใช้งาน</a>
</div>